DATABASE_URL=postgresql://user:sania1863@localhost:5432/sania_portfolio
SECRET_KEY=a0b30099c773de07282b10b745c9a6ae7965a58d703d4f1c52387e1bf388ef57
ADMIN_USERNAME=sania_ismail
ADMIN_PASSWORD=sania1863
SMTP_HOST=smtp.gmail.com
SMTP_PORT=587
SMTP_USER=saniaismail899@gmail.com
SMTP_PASSWORD=xcju gfzq kvkp mnrs
ADMIN_EMAIL=saniaismail899@gmail.com
CLOUDINARY_CLOUD_NAME=website
CLOUDINARY_API_KEY=978767288496891
CLOUDINARY_API_SECRET=kHS6Dp1XP1sMkrAnfS65FkqpO5I
FRONTEND_ORIGIN=http://localhost:5173